.wrapper {
  width:50%;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid black;
}
.quarter-width {
  width: 25%;
}
span.with-effect {
  font-size:5%;
}
span.without-effect {
  font-size:5vw;
}
@media screen and (max-width:800px) {
  .wrapper { 
    width: 100%;
  }
}
